project/
practice/
**/*.dSYM
**/tempCodeRunnerFile.c

week3/array
week3/array.dSYM/

week8/tree.dSYM/
week8/tree

week9/bst
week9/heaptobst
week9/tempCodeRunnerFile

week10/avl

week11/bfs
week11/bfs(hw3)
week11/graph

.DS_Store
**/.DS_Store